<!DOCTYPE html>
<html ng-app="TicTacToe">
<head>
	<title>Annabelle?</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--Sourcing Angular-->
 <script type="text/javascript" charset="utf-8" src="js/angular.min.js"></script>

<!-- Source in module -->
 <script type="text/javascript" charset="utf-8"src="js/main.js"></script>

<!-- Source in controller -->
 <script type="text/javascript" charset="utf-8"src="js/TicTacController.js"></script>

</head>
<body ng-controller="sqController as mainCtrl">
<div id="message" class="spiritText">
    <span class="fadeDuration1 AnnabelleMessage">You awake in a forest, thick with fog and night.</span><br />
    <span class="fadeDuration2 AnnabelleMessage">"Annabelle?" You ask the air, "Are you there?"</span><br />
    <span class="fadeDuration3 AnnabelleMessage">A figure approaches.</span>
</div>

<div id="score" class="spiritText">The score is {{mainCtrl.players[0].wins}} to {{mainCtrl.players[1].wins}}.</div>

    <div id="winner" class="spiritText fade-in">{{mainCtrl.winner.winner}}</div>
    <div id="ticTacContainer">
    	<div class="ticTacSquare" ng-click="mainCtrl.doBoth($index)" ng-repeat="box in mainCtrl.squares">{{box.value}}</div>
    </div>

    <div ng-click="mainCtrl.resetGame()" class="button spiritText">Continue?</div>

</body>
</html>